@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');


:root {
    --color-primary: #8300ee;
    --color-primary-hover: #ac68e4;
    --color-secondary: #e2969a;
    --color-secondary-hover: #f73685;
    --color-tertiary: #fce89f;
    --color-tertiary-hover: #fcd650;
    --color-headings: #160011;
    --color-body: #3c0042;
    --block-light: #fff;
    --block-grey: #dac1c1;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/* Typography */

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: var(--color-body);
    margin: 0;
    padding: 0;
    border: none;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

/* Navigation bar */

nav {
    display: flex;
    background-color: var(--color-tertiary);
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    padding: 20px;
}

li>a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 900;
    transition: color 0.3s;
}

li>a:hover {
    color: var(--color-primary-hover);
}

.nav__logo {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 5px;
}

.nav__links {
    display: flex;
}

.nav__instagram-link {
    height: 100px;
    width: 100px;
    padding: 20px;
}