@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');


:root {
    --color-primary: #fff;
    --color-primary-hover: #dac1c1;
    --color-secondary: #f73685;
    --color-secondary-hover: #bb0852;
    --color-tertiary: #fce89f;
    --color-tertiary-hover: #fcd650;
    --color-headings: #160011;
    --color-body: #3c0042;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/* Typography */

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: var(--color-body);
    margin: 0;
    padding: 0;
    border: none;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}