@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');


:root {
    --color-primary: #8300ee;
    --color-primary-hover: #ac68e4;
    --color-secondary: #e2969a;
    --color-secondary-hover: #f73685;
    --color-tertiary: #fce89f;
    --color-tertiary-hover: #fcd650;
    --color-headings: #160011;
    --color-body: #3c0042;
    --block-light: #fff;
    --block-grey: #e6e6e9;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/* Typography */

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: var(--color-body);
    margin: 0;
    padding: 0;
    border: none;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 100px;
    line-height: 90px;
}

h2 {
    font-size: 40px;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 64px;
        line-height: 70px;
    }

    h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 428px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 48px;
        line-height: 56px;
    }

    h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 372px) {
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }
}

/* Containers */

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .container {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 372px) {
    .container {
        margin-bottom: 20px;
    }
}

/* Blocks */

.block,
.block--grey {
    padding: 24px;
}

.block {
    background: var(--block-light);
}

.block--grey {
    background: var(--block-grey);
}

.block__header {
    margin: 20px 0;
}

@media screen and (max-width: 768px) {
    .block__header {
        margin: 15px 0;
    }
}

@media screen and (max-width: 372px) {

    .block,
    .block--grey {
        padding: 16px;
    }

    .block__header {
        margin: 10px 0 12px 0;
    }
}

/* Links */

a {
    text-decoration: none;
}

/* Buttons */

.button {
    display: inline-block;
    width: 160px;
    padding: 15px 20px;
    background-color: var(--color-tertiary);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px #acacac;
    margin: 0 10px;
}

@media screen and (max-width: 768px) {
    .button {
        width: 140px;
        padding: 12px 16px;
        margin: 0 7px;
    }
}

@media screen and (max-width: 428px) {
    .button {
        width: 120px;
        padding: 10px 14px;
        margin: 0 5px;
    }
}

@media screen and (max-width: 372px) {
    .button {
        width: 100px;
        padding: 8px 12px;
        margin: 0 4px;
    }
}

/* Navigation bar */

nav {
    display: flex;
    background-color: var(--color-tertiary);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
}

.nav__component {
    display: flex;
    align-items: center;
}

.nav__logo {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 5px;
}

.nav__logo--small {
    display: none;
}

nav li {
    list-style: none;
    padding: 20px;
}

li>a {
    color: var(--color-primary);
    transition: color 0.3s;
    font-size: 28px;
}

li i {
    fill: var(--color-primary);
}

li>a:hover,
li>a:hover i {
    color: var(--color-primary-hover);
    fill: var(--color-primary-hover);
}

li>.active {
    font-weight: 900;
}

div>.instagram-link {
    margin-right: 60px;
}

.instagram-link>i {
    font-size: 50px;
    color: var(--color-secondary);
    transition: color 0.3s;
}

.instagram-link>i:hover {
    color: var(--color-secondary-hover);
}

.instagram-link {
    position: relative;
}

.instagram-link::before,
.instagram-link::after {
    --scale: 0;
    position: absolute;
    left: 50%;
    font-size: 12px;
    transform: translateX(-50%) translateY(180%) scale(var(--scale));
    transition: 0.2s transform;
    transform-origin: top center;
    z-index: 1;
}

.instagram-link::before {
    content: attr(data-instagram-tooltip);
    color: var(--color-tertiary);
    background: var(--color-primary);
    border-radius: 0.3rem;
    padding: 0.5rem;
    opacity: 0.5;
    text-align: center;
    width: max-content;
}

.instagram-link:hover::before {
    --scale: 1;
}

.collapsible__toggler>i {
    display: none;
}

.collapsible__content {
    width: 100%;
    display: none;
}

.collapsible__toggler {
    cursor: pointer;
}

ul>.nav__item {
    text-align: left;
    border-bottom: 0.5px solid #d8d0d3;
}

.nav__item i {
    font-size: 16px;

}

@media screen and (max-width: 1024px) {
    nav li {
        padding: 15px;
    }

    li>a {
        font-size: 20px;
    }

    .nav__logo {
        height: 120px;
        width: 120px;
    }

    div>.instagram-link {
        margin-right: 50px;
    }

    .instagram-link>i {
        font-size: 40px;
    }

    .instagram-link::before,
    .instagram-link::after {
        font-size: 11px;
        transform: translateX(-50%) translateY(100%) scale(var(--scale));
    }

    .instagram-link::before {
        width: 100px;
    }
}

@media screen and (max-width: 768px) {
    .nav__component {
        display: flex;
    }

    .nav__logo {
        display: none;
    }

    div>.instagram-link {
        margin-right: 20px;
    }

    .nav__logo--small {
        display: inline;
        height: 80px;
        width: 80px;
        padding: 10px;
    }

    .nav__menu {
        display: none;
    }

    .collapsible__toggler>i {
        font-size: 40px;
        color: var(--color-secondary);
        transition: 0.3s;
    }

    .collapsible__toggler>i:hover {
        color: var(--color-secondary-hover);
    }

    div>.collapsible__toggler {
        margin-right: 20px;
    }

    .collapsible__toggler>i {
        display: inline-block;
    }

    .collapsible__content {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
    }

    .collapsible__content.collapsible--expanded {
        max-height: 100vh;
    }

    .collapsible__toggler {
        position: relative;
        background: var(--color-tertiary);
    }

    .collapsible__toggler::before,
    .collapsible__toggler::after {
        --scale: 0;
        position: absolute;
        left: 50%;
        font-size: 12px;
        transform: translateX(-50%) translateY(140%) scale(var(--scale));
        transition: 0.2s transform;
        transform-origin: top center;
        z-index: 1;
    }

    .collapsible__toggler::before {
        content: attr(data-menu-tooltip);
        color: var(--color-tertiary);
        background: var(--color-primary);
        border-radius: 0.3rem;
        padding: 0.5rem;
        opacity: 0.5;
        text-align: center;
        width: max-content;
    }

    .collapsible__toggler:hover::before {
        --scale: 1;
    }
}

@media screen and (max-width: 428px) {
    nav li {
        padding: 12px;
    }

    li>a {
        font-size: 16px;
    }

    div>.instagram-link {
        margin-right: 15px;
    }

    div>.collapsible__toggler {
        margin-right: 15px;
    }
}

@media screen and (max-width: 376px) {
    div>.instagram-link {
        margin-right: 12px;
    }

    div>.collapsible__toggler {
        margin-right: 12px;
    }

    .instagram-link>i {
        font-size: 30px;
    }

    .collapsible__toggler>i {
        font-size: 30px;
    }

    .collapsible__toggler::before,
    .collapsible__toggler::after {
        font-size: 10px;
        transform: translateX(-50%) translateY(180%) scale(var(--scale));
    }

    .collapsible__toggler::before {
        padding: 0.3rem;
    }

    .instagram-link::before,
    .instagram-link::after {
        font-size: 10px;
        transform: translateX(-50%) translateY(100%) scale(var(--scale));
    }

    .instagram-link::before {
        padding: 0.3rem;
    }
}

@media screen and (max-width: 324px) {
    nav li {
        padding: 10px;
    }
}

/* Hero image */

.hero__container {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero__image {
    height: 80vh;
    width: 100%;
    background: url(../images/hero-image-xlarge.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    animation: hero-zoom 1s ease-in-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@keyframes hero-zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    animation: fade-out 1s ease-in-out forwards;
}

@keyframes fade-out {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

.hero__text {
    color: var(--color-headings);
    width: 600px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(50%);
    border-radius: 20px;
    animation: fade-in 1s ease-in-out forwards;
}

.hero__heading {
    margin: 20px;
}

.hero__tagline {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .hero__text {
        width: 520px;
    }

    .hero__heading {
        margin: 16px;
    }

    .hero__tagline {
        margin: 16px 0;
    }
}

@media screen and (max-width: 768px) {
    .hero__text {
        width: 360px;
    }

    .hero__heading {
        margin: 12px;
    }

    .hero__tagline {
        margin: 12px 0;
        font-size: 21px;
    }
}

@media screen and (max-width: 428px) {
    .hero__text {
        width: 240px;
    }

    .hero__heading {
        margin: 10px;
    }

    .hero__tagline {
        margin: 10px 0;
        font-size: 18px;
    }
}

/* About block */

.button__container {
    display: flex;
    justify-content: center;
}