@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');


:root {
    --color-primary: #8300ee;
    --color-primary-hover: #ac68e4;
    --color-secondary: #e2969a;
    --color-secondary-hover: #f73685;
    --color-tertiary: #fce89f;
    --color-tertiary-hover: #fcd650;
    --color-headings: #160011;
    --color-body: #3c0042;
    --block-light: #fff;
    --block-grey: #dac1c1;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/* Typography */

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: var(--color-body);
    margin: 0;
    padding: 0;
    border: none;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

/* Links */

a {
    text-decoration: none;
}

/* Navigation bar */

nav {
    display: flex;
    background-color: var(--color-tertiary);
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    padding: 20px;
}

li>a {
    color: var(--color-primary);
    transition: color 0.3s;
    font-size: 20px;
}

li>a:hover {
    color: var(--color-primary-hover);
}

li>.active {
    font-weight: 900;
}

.nav__logo {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 5px;
}

.nav__component {
    display: flex;
}

nav>a {
    font-size: 50px;
    color: var(--color-secondary);
    transition: color 0.3s;
    margin-right: 60px;
}

nav>a:hover {
    color: var(--color-secondary-hover);
}

.nav__instagram-link {
    position: relative;
}

.nav__instagram-link::before,
.nav__instagram-link::after {
    --scale: 0;
    position: absolute;
    left: 50%;
    font-size: 12px;
    transform: translateX(-50%) translateY(160%) scale(var(--scale));
    transition: 0.2s transform;
    transform-origin: top center;
}

.nav__instagram-link::before {
    content: attr(data-tooltip);
    color: var(--color-tertiary);
    background: var(--color-primary);
    border-radius: 0.3rem;
    padding: 0.5rem;
    opacity: 0.6;
    text-align: center;
    width: max-content;
}

.nav__instagram-link:hover::before {
    --scale: 1;
}

@media screen and (max-width: 1024px) {
    nav li {
        padding: 15px;
    }

    li>a {
        font-size: 16px;
    }

    .nav__logo {
        height: 120px;
        width: 120px;
    }

    nav>a {
        font-size: 40px;
        margin-right: 50px;
    }

    .nav__instagram-link::before,
    .nav__instagram-link::after {
        font-size: 11px;
        transform: translateX(-50%) translateY(100%) scale(var(--scale));
    }

    .nav__instagram-link::before {
        width: 100px;
    }
}

@media screen and (max-width: 768px) {
    nav li {
        padding: 10px;
    }

    li>a {
        font-size: 14px;
    }
}